/* I can't get it to look like the EX, can't get it to be responsive either.*/

#header {
    text-align: center;
    background-color: #055005;
    color: white;
    padding: 10px;
  }
  
  #search-btn {
    padding: 5px;
    background: #2196f3;
    color: white;
    border-radius: 6px;
  }
  
  #form {
    margin-left: 20px;
  }
  
  #forecast-icon {
    height: 60px;
    width: 60px;
  }
  
  #forecast {
    display: inline-block;
  }